.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* 
.nav-main {
  width: 100%;
  border: 2px solid blue;
} */

/* .main {
  height: 60%;
  width: 100%;
  border: 2px solid violet;
}
.footer-main {
  height: 15%;
  width: 100%;
  bottom: 0;
  border: 2px solid orange;
} */
