.nav {
  width: 100%;
}

.nav-logo {
  margin-top: 3%;
  width: 75%;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 20%;
  margin-right: 20%;
}

.nav-link {
  font-family: 'Mulish';
  text-decoration: none;
  font-size: 1.2vw;
  color: black;
}

.nav-links li {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  margin: 0 7% 15% 7%;
  padding: 5% 5% 10% 5%;
}

.nav-links li:hover {
  background: #9d788b75;
}
